
@{
    ViewData["Title"] = "نمونه کارها";
}


<div class="col-12 col-md-12 col-lg-10">
    <div class="box box-content">
        <div class="pb-2">
            <h1 class="title title--h1 first-title title__separate">نمونه کارها</h1>
        </div>

        <!-- Gallery -->
        <div class="gallery-grid js-grid-row js-filter-container">
            <div class="gutter-sizer"></div> 
            <!-- Item 1 -->
            <figure class="gallery-grid__item category-concept">
                <div class="gallery-grid__image-wrap">
                    <img class="gallery-grid__image cover lazyload" src="/Site/assets/img/githubcover.jpg" data-zoom alt="" />
                </div>
                <figcaption class="gallery-grid__caption">
                    <h4 class="title title--h6 gallery-grid__title" style="text-align: center;">برای مشاهده نمونه کارهای من به گیت هاب  <a href="https://github.com/Arianshakour" target="_blank">من</a> مراجعه کنید</h4>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
