@using Resume.Bus.Extentions
@using Resume.DLA.ViewModels.Job
@model FilterJobViewModel


@{
    ViewData["Title"] = "لیست شغل ها";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <div class="card">
            <div class="header">
                <h2>
                    فیلتر ها
                </h2>
            </div>
            <div class="body">
                <form asp-action="List" method="get" id="filter-search">
                    <input type="hidden" asp-for="Page" />
                    <div class="row clearfix">
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="Title">
                                    <label class="form-label" asp-for="Title"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="form-control" asp-for="Start">
                                    <label class="form-label" asp-for="Start"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="form-control" asp-for="End">
                                    <label class="form-label" asp-for="End"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-success">جستجو</button>
                            <a class="btn btn-warning" onclick="showCreateModalJob()">افزودن شغل</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="gridJob">
            <partial name="~/Areas/Admin/Views/Job/_gridJob.cshtml" />
        </div>
    </div>
</div>


<!-- مودال -->
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">عملیات شغل</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="bodymodal">
                <!-- محتوا به صورت داینامیک بارگذاری می‌شود -->
            </div>
        </div>
    </div>
</div>


<script>
    function showDeleteModalJob(id) {
        $.ajax({
            url: "Delete?id=" + id,
            type: "GET",
            data: {}
        }).done(function (result) {
            $('#mymodal').modal('show');
            $('#formModal').html('آیا از حذف اطمینان دارید ؟');
            $('#bodymodal').html(result);
        });
    }

    function deletejob(id) {
        $.ajax({
            url: "DeleteConfirm?id=" + id,
            type: "Post",
        }).done(function (result) {
            $('#gridJob').empty();
            $('#gridJob').html(result);
            $('#mymodal').modal('hide');
        });
    }

    function showEditModalJob(id) {
        $.ajax({
            url: "Edit?id=" + id,
            type: "GET",
            data: {}
        }).done(function (result) {
            $('#mymodal').modal('show');
            $('#formModal').html('ویرایش شغل');
            $('#bodymodal').html(result);
        });
    }

    function showCreateModalJob() {
        $.ajax({
            url: "Create",
            type: "Get",
            data: {}
        }).done(function (result) {
            $('#mymodal').modal('show');
            $('#formModal').html('افزودن شغل');
            $('#bodymodal').html(result);
        });
    }

    function createJob() {
        var input = $("#createJobForm").serialize();
        $.ajax({
            url: "Create",
            type: "Post",
            data: input,
            success: function (result) {
                console.log(result);
                if (result.isGrid == 0) {
                    alert("لطفاً اطلاعات را کامل وارد کنید");
                    $('#bodymodal').html(result.view);
                } else {
                    $('#gridJob').html(result.view);
                    $('#gridJob').show();
                    $('#mymodal').modal('hide');
                }
            },
            error: function (xhr, status, error) {
                debugger;
                console.log("Error occurred: " + error);
                console.log(xhr.responseText);  // بررسی محتوای پاسخ خطا
                alert("یک خطا رخ داده است. لطفاً دوباره امتحان کنید.");
            }
        });

    }

</script>